* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Raleway;
  border-radius: 0%;
}
/* body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #f3f3f3, #f3f3f3);
} */

/* navbar */
.brand {
  height: 1%;
  width: 20%;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffdc3c;
  overflow: hidden;
  margin-top: 0%;
}
.topnav .img-brand {
  height: 45px; /* Tinggi gambar brand */
  width: auto; /* Lebar gambar brand menyesuaikan tinggi */
  float: left;
}
.topnav .navbar-brand {
  display: inline-block;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #2a2a2a;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  font-size: 100%;
  }

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f3f3f3;
  border-radius: 5px;
  color: #2a2a2a;
  font-weight: bolder
}
.topnav-right {
  margin-top: 0.7%;
  padding: 0.3%;
  padding-left: 50%;
  height: 50%;
}
.topnav-right a {
  padding-inline: 6.3%;
}
head {
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
}
.mb-3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 160%;
  text-align: center;
}
body {
  font-family: 'Montserrat', Raleway;
  margin: 80 150px;
  background-color: #ffff;
  overflow: hidden;
  display: grid;
  /* justify-content: center; */
  align-items: right;
  height: auto;
  ;
}

.app {
  background-color: #fff;
  margin-right: 15%;
  margin-left: 15%;
  background-position: 50%;
  width: auto;
  height: auto;
  justify-content: space-around;
  /* border: 5px solid hsl(39, 82%, 50%); */
  padding: 2%;
  overflow-y: scroll;
}

.app::-webkit-scrollbar {
  width: 0 !important;
}

#addNew {
  display: flex;
  margin-left: 5%;
  margin-right: 77%;
  justify-content: space-between;
  align-items: center;
  background-color: #fea17359;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: rgba(128, 128, 128, 0.423);
}

.fa-plus {
  background-color: #f1ca1a;
  padding: 3px;
  border-radius: 3px;
}

.task h5 {
  margin-right: 82%;
  height: auto;
  width: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 130%;
}
#tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10%;
  width: auto;
  height: auto;
  height: 100%;
}

#tasks div {
  border: 3px solid hsl(34, 100%, 69%);
  background-color: hsla(35, 93%, 53%, 0.225);
  background-position: 20%;
  /* border-radius: 15%; */
  padding: 2%;
  display: flow-root;
  display: grid;
  gap: 4px;
  margin-left: 5%;
  margin-right: 5%;
}

#tasks div .options {
  justify-self: center;
  display: flex;
  gap: 10%;
  width: auto;
  height: auto;
}

#tasks div .options i {
  cursor: pointer;
}

#msg {
  color: #ff8800;
}
