* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-radius: 2%;
}

/* navbar */
header {
  color: #141414;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.topnav {
  /* background-color: #f3f3f3; */
  background-color: #ffdc3c;
  overflow: hidden;
  margin-top: 0%;
  margin-bottom: 1%;
  height: 70%;
}
.navbar-brand {
  width: 100%;
  margin-right: 100%;
  margin-top: 0.5%;
}
.brand {
  margin-top: -2%;
  margin-left: 5%;
  margin-right: -300%;
  width: 100%;
}

.img-brand {
  width: 15%;
  height: 50%;
  float: left;
  margin-left: 0%;
  padding-left: 1.5%;
  margin-top: -1.5%;
  background-color: rgb(241, 241, 241);
  padding-top: 1%;
  padding-bottom: 20px;
}

.ul {
  text-align: right;
  float: right;
  padding-right: 2%;
  width: 75%;
  font-size: 100%;
}
/* Style the links inside the navigation bar */

.topnav .ul a {
  float: left;
  color: #141414;
  padding: 2%;
}

.topnav-right {
  margin-top: 0%;
  padding: 0.15%;
  padding-left: 15%;
  margin-right: 25%;
  display: flex;
  margin-bottom: 0.4%;
}
.topnav-right a {
  padding-inline: 5%;
  color: #141414;
  text-align: right;
  margin-right: 15%;
  text-decoration: none;
  margin-bottom: 1%;
}
/* Change the color of links on hover */
.topnav .ul a:hover {
  background-color: rgb(241, 241, 241);
  color: black;
  border-radius: 6%;
  -webkit-transform: scale(1.08);
  transform: scale(1.05);
}
@media screen and (max-width: 1100px) {
  .topnav-right {
    padding-right: 5%;
  }
  .topnav-right a {
    font-size: medium;
  }
  #addNew {
    margin-right: 600px;
  }
}
@media screen and (max-width: 850px) {
  .topnav-right {
    padding-right: 10%;
  }
  .topnav-right a {
    font-size: small;
  }
  .ul {
    margin-right: 10%;
  }
  #addNew {
    margin-right: 350px;
  }
}
@media screen and (max-width: 530px) {
  header {
    height: auto;
    width: 100%;
    display: contents;
  }
  .img-brand {
    width: 50%;
    padding-bottom: 15%;
    padding-top: 10%;
    padding-top: auto;
  }
  .topnav {
    padding-bottom: 5%;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-width: 1px;
  }
  .ul {
    width: 100%;
    margin-left: 1%;
    display: contents;
  }
  .topnav-right {
    display: grid;
    margin-bottom: 16%;
    font-size: 75%;
    margin-left: 2px;
  }
  .topnav-right a {
    text-align: left;
    margin-bottom: 5%;
    margin-left: -25%;
  }
  .app {
    margin-top: -9%;
  }
  #addNew {
    margin-right: 65%;
    font-size: 80%;
  }
}

head {
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
}
.mb-3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 200%;
  text-align: center;
}
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 80 150px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  display: grid;
  /* justify-content: center; */
  align-items: right;
  height: auto;
}
.container {
  position: relative;
  width: 90%;
  /* min-height: 100px; */
  height: 72%;
  margin: 0 auto;
  padding: -5px;
  color: #ffdc3c;
  display: flex;
  border-radius: 0 0%;
  background-color: #ffffff6c;
  margin-left: 5%;
  border-style: dotted;
  overflow-y: scroll;
  padding-bottom: 5%;
  /* margin-bottom: 5%; */
}
.left {
  width: 60%;
  padding: 10px;
}
.calendar {
  position: relative;
  width: 90%;
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  color: #141414;
  border-radius: 2px;
  background-color: #ffdc3c;
  /* padding-bottom: -100%; */
}

.calendar .month {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: -5%;
}
.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--primary-clr);
}
.calendar .weekdays {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: -3%;
}
.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.calendar .days .day {
  width: 14.28%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #141414;
}
.calendar .days .day:nth-child(7n + 1) {
  border-left: 2px solid #141414;
}
.calendar .days .day:nth-child(7n) {
  border-right: 2px solid #141414;
}
.calendar .days .day:nth-child(-n + 7) {
  border-top: 2px solid #141414;
}
.calendar .days .day:nth-child(n + 29) {
  border-bottom: 2px solid #141414;
}
.calendar .days .day:not(.prev-date, .next-date):hover {
  color: #ffff;
  background-color: var(--primary-clr);
}
.calendar .days .prev-date,
.calendar .days .next-date {
  color: #fff;
}
.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: rgb(255, 0, 0);
  background-color: var(--primary-clr);
}
.calendar .days .active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendar .days .today {
  font-size: 2rem;
}
.calendar .days .event {
  position: relative;
}
.calendar .days .event::after {
  content: '';
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}
.calendar .days .day:hover.event::after {
  background-color: #f3f3f3;
}
.calendar .days .active.event::after {
  background-color: #f3f3f3;
  bottom: 20%;
}
.calendar .days .active.event {
  padding-bottom: 10px;
}
.calendar .goto-today {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  /* margin-bottom: 25px; */
  /* margin-top: -50px; */
  color: var(--primary-clr);
}
.calendar .goto-today .goto {
  display: flex;
  margin-top: 85px;
  margin-bottom: ;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid var(--primary-clr);
}
.calendar .goto-today .goto input {
  width: 50%;
  height: 30px;
  outline: none;
  border-color: #141414;
  border-radius: 5px;
  padding: 0 6px;
  color: var(--primary-clr);
}
.calendar .goto-today button {
  padding: 5px 10px;
  margin-top: 0%;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: #ffff;
  cursor: pointer;
  color: #141414;
}
.calendar .goto-today button:hover {
  color: #141414;
  background-color: #f3f3f3;
}
.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--primary-clr);
  border-radius: 0;
  background-color: #ffdc3c;
}
.calendar .goto-today .today-btn {
  margin-top: 85px;
}
.container .right {
  position: relative;
  width: 40%;
  min-height: 140%;
  padding: 20px 0;
}
.right .today-date {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
  color: #141414;
}
.right .today-date .event-date {
  font-size: 1rem;
  font-weight: 400;
  color: #141414;
}
.events {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}
.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: #141414;
  background: linear-gradient(90deg, #f3f3f3, transparent);
  cursor: pointer;
}
/* even event */
.events .event:nth-child(even) {
  background: transparent;
}
.events .event:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}
.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}
.events .event i {
  color: var(--primary-clr);
  font-size: 0.5rem;
}
.events .event:hover i {
  color: #f3f3f3;
}
.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: #141414;
  margin-left: 15px;
  pointer-events: none;
}
.events .event:hover .event-time {
  color: #141414;
}
/* add tick in event after */
.events .event::after {
  content: '✓';
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: var(--primary-clr);
  transform: translateY(-50%);
}
.events .event:hover::after {
  display: flex;
}
.add-event {
  position: absolute;
  bottom: 0px;
  right: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #141414;
  border: 2px solid #141414;
  border-radius: 50%;
  background-color: #ffdc3c;
  cursor: pointer;
}
.add-event:hover {
  opacity: 1;
  -webkit-transform: scale(1.08);
  transform: scale(1.1);
}
.add-event i {
  pointer-events: none;
}
.events .no-event {
  width: 70%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #141414;
}
.add-event-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #ffdc3c;
  transform: translateX(-50%);
  transition: max-height 0.5s ease;
}
.add-event-wrapper.active {
  max-height: 300px;
}
.add-event-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #141414;
  border-bottom: 1px solid #141414;
}
.add-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}
.add-event-header .close:hover {
  color: var(--primary-clr);
}
.add-event-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.add-event-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
.add-event-body .add-event-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.add-event-body .add-event-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #141414;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #141414;
}
.add-event-body .add-event-input input::placeholder {
  color: #141414;
}
.add-event-body .add-event-input input:focus {
  border-bottom: 1px solid var(--primary-clr);
}
.add-event-body .add-event-input input:focus::placeholder {
  color: #141414;
}
.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.add-event-footer .add-event-btn {
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #141414;
  background-color: #ffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
}
.add-event-footer .add-event-btn:hover {
  background-color: #f3f3f3;
  color: #141414;
}

/* media queries */

@media screen and (max-width: 770px) {
  /* body {
    align-items: flex-start;
    justify-content: flex-start;
  } */
  .container {
    /* min-height: 100vh; */
    height: 41.8%;
    flex-direction: column;
    border-radius: 0;
  }
  .container .left {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .container .right {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    padding-bottom: 40%;
    padding-top: -20%;
    background-color: #ffffff;
    border-radius: 0;
    /* margin-bottom: -2%; */
  }
  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
    /* margin-bottom: 50%; */
  }
  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }
  .calendar .goto-today {
    padding-top: 11%;
    padding-bottom: 30%;
  }
  .right .today-date {
    /* margin: 6%; */
    margin-left: -7%;
    margin-top: 20%;
  }

  .events {
    padding-bottom: 320px;
  }
  .event-day {
    margin-top: -50%;
  }
  .event-date {
    margin-top: -50%;
  }
  .no-event {
    margin-top: 0%;
  }
  .add-event-wrapper {
    bottom: 100px;
  }
  .add-event {
    bottom: -50%;
    margin-right: 10%;
  }
}
@media screen and (max-width: 550px) {
  body {
    overflow: scroll;
  }
  .goto-today {
    margin-top: 4%;
  }
  .right {
    margin-top: 7%;
  }
}
