* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  display: grid;
}

.brand {
  margin-left: 80px;
  padding: 0px;
  height: auto;
  width: auto;
}
.img-brand {
  width: 35%;
  margin-top: 0%;
  margin-left: 8%;
}
.img-home {
  width: 125%;
  height: auto;
  margin-left: 25%;
  text-align: left;
}
.login-form {
  font-size: 130%;
  margin-left: 30%;
  margin-bottom: 6%;
  margin-top: auto;
  height: 85%;
  /* width: 80%; */
  background-color: #ffdb3c65;
  border-radius: 15%;
  /* padding-left: 300px; */
}

.about {
  text-align: right;
  margin-right: 5%;
  margin-top: 30px;
  color: black;
  font-size: 110%;
  font-family: raleway;
}

.about a:hover {
  color: blue;
}

.container {
  padding-left: 8%;
  text-align: center;
  display: flex;
  width: 87%;
  /* margin-bottom: 50%; */
}
.intro {
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.intro2 {
  margin-top: 8%;
}
.form-group button {
  margin-top: 15%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 90%;
}
/* .form-group button :hover {
  background-color: #FFD700;
  
  font-size: 100%;
} */
.btn_style {
  border: 10px solid #ffdc3c;
  border-radius: 10px;
  padding: 3px 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  color: FFD700;
  background-color: #ffdc3c;
}
.btn_style:hover {
  border: 10px solid #ffd700;
  background-color: #ffd700;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.08);
  transform: scale(1.1);
}
@media screen and (max-width: 1135px) {
  .img-brand {
    width: 300px;
    margin-left: 0%;
  }
  .container {
    margin-left: -2%;
    margin-right: 0%;
  }
  .img-home {
    width: 150%;
  }
  .login-form {
    width: 100%;
    margin-right: 0%;
    font-size: 100%;
    margin-left: 30%;
    margin-bottom: 6%;
    margin-top: 5%;
    height: 85%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .intro {
    margin-top: 20%;
    margin-left: -10%;
    margin-right: -10%;
    text-align: center;
  }
  .intro2 {
    margin-top: 8%;
  }
  .form-group button {
    margin-top: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90%;
    margin-left: -40%;
    margin-right: -40%;
    padding: 2%;
  }
}
@media screen and (max-width: 750px) {
  .about {
    font-size: 20px;
  }
  .img-brand {
    width: 200px;
    margin-left: 0%;
  }
  .container {
    margin-left: -2%%;
  }
  .login-form {
    width: 80%;
    margin-right: 0%;
    font-size: 70%;
    margin-left: 30%;
    margin-bottom: 6%;
    margin-top: auto;
    height: 85%;
    padding-left: 12%;
    padding-right: 12%;
  }
  .intro {
    margin-top: 35%;
    margin-left: -40%;
    margin-right: -40%;
    text-align: center;
  }
  .intro2 {
    margin-top: 8%;
    font-size: 9px;
  }
  .form-group button {
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90%;
    margin-left: -50%;
    margin-right: -50%;
    padding: 0%;
  }
}

@media screen and (max-width: 580px) {
  .about {
    font-size: 10px;
  }
  .img-brand {
    width: 150px;
    margin-left: -7%;
  }
  .container {
    margin-left: -%;
  }
  .login-form {
    width: 80%;
    margin-right: 0%;
    font-size: 60%;
    margin-left: 30%;
    margin-bottom: 6%;
    margin-top: auto;
    height: 85%;
    padding-left: 12%;
    padding-right: 12%;
  }
  .intro {
    margin-top: 35%;
    margin-left: -40%;
    margin-right: -40%;
    text-align: center;
  }
  .intro2 {
    margin-top: -5%;
    font-size: 7px;
  }
  .form-group button {
    margin-top: 15%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90%;
    margin-left: -50%;
    margin-right: -50%;
    padding: 0%;
  }
}
