* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  display: grid;
}

.brand {
  margin-left: 80px;
  padding: 0px;
  height: auto;
  width: auto;
  margin-top: 20px;
}
.img-brand {
  width: 35%;
  margin-top: 0%;
  margin-left: 8%;
}
.img-home {
  width: 160%;
  height: auto;
  margin-left: 45%;
  text-align: left;
}
.login-form {
  font-size: 130%;
  margin-left: 40%;
  /* margin-right: 0%; */
  height: 90%;
  /* width: 80%; */
  background-color: #fcf1c3;
  border-radius: 15%;
  /* padding-left: 300px; */
}

.about {
  text-align: right;
  margin-right: 5%;
  margin-top: 30px;
  color: black;
  font-size: 110%;
  font-family: raleway;
}

.about a:hover {
  color:blue;
}

.container {
  padding-left: 8%;
  text-align: center;
  display: flex;
  width: 87%;
  margin-bottom: 50%;
  display: flex;
}
.intro {
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}
.intro2 {
}
.form-group button {
  margin-top: 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 90%;
}
/* .form-group button :hover {
  background-color: #FFD700;
  
  font-size: 100%;
} */
.btn_style {
  border: 10px solid #ffdc3c;
  border-radius: 10px;
  padding: 3px 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  color: FFD700;
  background-color: #ffdc3c;
}
.btn_style:hover {
  border: 10px solid #ffdc3c;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
